//.side-bar {
//  width: calc((100% - 1064px) / 2 + 80px);
//  min-width: 80px;
//}
//
//.main{
//  margin-left: calc( (100% - 1064px) / 2 + 100px);
//}

a{
    color: #3967f3;
  }
  
  div.highlighter-rouge {
    background-color: #edf0fa;
  }
  
  code {
    background-color:#edf0fa;
  }
  
  ::selection {
    background: #3967f3;
  }
  
  
  .icon {
    color: #3967f3;
  }
  
  .main-content .anchor-heading svg {
    color: #3967f3;
  }
  
  .nav-list .nav-list-item .nav-list-expander {
    color: #3967f3;
  }
  
  .btn {
    color: #3967f3;
  }
  
  .btn-outline {
    color: #3967f3;
  }
  
  .search-input:focus + .search-label .search-icon {
    color: #3967f3;
  }
  
  .search-result-doc .search-result-icon {
    color: #3967f3;
  }